/* 헤더 기본 설정 */
header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0; 
    z-index: 999;
}

/* 데모바 설정 및 구현 */
header .demo-bar {
    height: 2rem;
    background: #22488a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 0 20px;
    width: 100%;
    box-sizing: border-box;
}

/* 데모바 - 왼쪽 부분 */
.left-header-element {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.left-header-element img {
    width: 175px;
    height: 25px;
}

.media-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.media-button .media-btn svg {
    fill: var(--text-muted);
    width: 20px;
    height: 20px;
    transition: all 0.25s ease;
}

.media-button .media-btn svg:hover {
    fill: var(--bg-white);
}

.media-button .media-btn.monitor-btn svg {
    fill: var(--bg-white);
    width: 20px;
    height: 20px;
}

/* 데모바 - 중간 부분 */
.middle-header-element {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.middle-header-element a {
    transition: all 0.25s ease;
}

.middle-header-element a:nth-child(1) {
    color: var(--text-muted);
    font-weight: bold;
}

.middle-header-element a:nth-child(2) {
    color: var(--bg-white);
    font-weight: bold;
}

.middle-header-element a:nth-child(3) {
    color: var(--text-muted);
    font-weight: bold;
}

.middle-header-element a:hover {
    color: var(--bg-white);
}

/* 데모바 - 오른쪽 부분 */
.right-header-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 100%;
    box-sizing: border-box;
}

.right-header-element .right-header-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 7px;
}

.right-header-element .right-header-btn svg {
    fill: var(--bg-white);
    width: 20px;
    height: 20px;
}

.right-header-element .right-header-btn.demo-hide-btn svg {
    fill: var(--text-muted);

    transition: all 0.25s ease;
}

.right-header-element .right-header-btn.demo-hide-btn svg:hover {
    fill: var(--bg-white);
}

.right-header-element .right-header-btn.download-btn {
    background-color: var(--accent-hover);
    height: 100%;
    padding: 0 15px;

    transition: all 0.3s ease;
}

.right-header-element .right-header-btn.download-btn:hover {
    background-color: var(--accent-color);
}

.right-header-element .right-header-btn span {
    color: var(--bg-white);
}

/* 투명 헤더 설정 및 구현 */
header .transparent-header {
    height: 5rem;
    background-color: color-mix(in srgb, var(--primary-color) 90%, transparent);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

/* 대 제목 */
.transparent-header #header-arsha a {
    font-size: 30px;
    font-weight: 500; 
    color: var(--bg-white);
    padding: 0 45px;
}

/* 메뉴 부분 */
.header-menu-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 45px;
    padding: 0 60px;
}

.header-menu-group .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header-menu-group .nav-menu a {
    color: var(--bg-white);
    transition: all 0.3s ease;
}

.header-menu-group .nav-menu a:hover {
    color: var(--accent-hover);
}

.header-menu-group .get-started-btn {
    color: var(--bg-white);
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--accent-color);

    transition: all 0.3s ease;
}

.header-menu-group .get-started-btn:hover {
    background-color: var(--accent-hover);
}